<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<h1>Hello Rashesh</h1>
		<!-- <%- include('../partials/header'); %> -->

		<main>
			<div class="jumbotron">
				<h1>This is great</h1>
				<p>Welcome to templating using EJS</p>

				<table border="1" cellspacing="0" cellpadding="5">
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Age</th>
						<th>Number</th>
						<th>Email</th>
						<th>Gender</th>
						<th>Hobbies</th>
						<th>Address</th>
					</tr>

					<tr>
						<td><%= moreDetails.fname %></td>
						<td><%= moreDetails.lname %></td>
						<td><%= moreDetails.age %></td>
						<td><%= moreDetails.phone %></td>
						<td><%= moreDetails.email %></td>
						<td><%= moreDetails.gender %></td>
						<td><%= moreDetails.hobbies %></td>
						<td><%= moreDetails.address %></td>
					</tr>
				</table>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
